pros_test

references/

R-package/src/R_interface.o
R-package/src/R_interface.so
R-package/..Rcheck/
R-package/src/symbols.rds
R-package.Rcheck

paper/project.aux
paper/project.log
paper/project.out
paper/project.bbl
paper/project.blg

*.o
*.so